{% extends 'base.html' %}

{% block title %}Registered Members{% endblock %}

{% block content %}
    <div class="text-left" style="padding-left:10%">
        <h2> Registered Members </h2>
        <br>
    </div>
    <div class="text-center">
        {% if member_registrations %}
            {% for member in member_registrations %}
                <a href ="/users/{{member.member.username}}/profile" >{{ member.member.first_name }} {{ member.member.last_name }}</a>
                <br>
            {% endfor %}
        {% else %}
        <h3> No members added </h3>
        {% endif %}
    </div>
{% endblock %}
