{% extends 'base.html' %}

{% block title %}weRSOcool{% endblock %}

{% block content %}
<div class="text-left" style="padding-left:10%;">
    <h3>{{ rso.name }}</h3>
    <img src="/media/{{rso.icon}}"> <br><br>
    <b>Description:</b> {{ rso.description }} <br>
    <b>Established:</b> {{rso.date_established}} <br>
    <b>College:</b> {{rso.college_association}} <br>

    {% if tags %}
    <b> Tags: </b>
    <ul>
        {% for t in tags %}
        <li> {{t.tag}} </li>
        {% endfor %}
    </ul>
        {% if closest != None %}
        Another RSO like this:<a href="/rsos/{{closest}}/profile"> {{closest}} </a>
        <br>
        <br>
        {% endif %}
    {% else %}
    <br>
    {% endif %}
    <!-- <a class="btn btn-primary" href="/rsos/{{rso.name}}/members" role="button">View All Members</a> -->
    <a class="btn btn-primary" href="/rsos/{{rso.name}}/events" role="button">View Events</a>
    {% if request.user.is_authenticated %}
        {% if request.user.username in member_names %}
        <a class="btn btn-danger" href="/rsos/{{rso.name}}/unregister" role="button">Leave {{rso.name}}</a>
        {% else %}
        <a class="btn btn-primary" href="/rsos/{{rso.name}}/register" role="button">Join {{rso.name}}</a>
        {% endif %}
        {% if user.username in admin_names %}
        <br><br>
        <h4>Admin Panel</h3>
        <a class="btn btn-primary" href="/rsos/{{rso.name}}/add_event" role="button">Add Event</a>
        <a class="btn btn-primary" href="/rsos/{{rso.name}}/add_tag" role="button">Add  Tags</a>
        <a class="btn btn-danger" href="/rsos/{{rso.name}}/delete" role="button">Delete RSO</a>
        <br> <br>
        <a class="btn btn-info" href="/rsos/{{rso.name}}/mailing_list" target="_blank" role = "button">Mailing List</a>
        {% endif %}
        <br><br>

    {% endif %}
    <br>

    <br>
    <h4>Admins</h4>
    <div class="row justify-content-left" style="width:95%;text-align:center; margin:0 auto">
    {% if admin_registrations %}
        {% for member in admin_registrations %}
            <br>
            <div class="row-sm-2 py-2" style="margin:5px">
                <div class="card" style="width: 12rem;">
                <a href="/users/{{member.member.username}}/profile">
                    {% if member.member.icon %}
                        <img class="card-img-top" src="/media/{{ member.member.icon }}" alt="{{ member.member.name }} image">
                    {% else %}
                        <img class="card-img-top" src="/media/default_user.png">
                    {% endif %}
                    <div class="card-body">
                    <h5 class="card-title" style="text-align:center">{{ member.member.username }}</h5>
                    {% if request.user.username in admin_names %}
                    <a href="/rsos/{{ rso.name }}/removeadmin/{{ member.member.username }}" class="btn btn-danger">Remove admin</a>
                    {% endif %}
                </a>
                </div></div>
            </div>
        {% endfor %}
    {% else %}
    <h3> No Admins </h3>
    {% endif %}
    </div>
    <br>

    <h4>Members</h4>
    <div class="row justify-content-left" style="width:95%;text-align:center; margin:0 auto">
    {% if member_registrations %}
        {% for member in member_registrations %}
            <br>
            <div class="row-sm-2 py-2" style="margin:5px">
                <div class="card" style="width: 12rem;">
                <a href="/users/{{member.member.username}}/profile">
                    {% if member.member.icon %}
                        <img class="card-img-top" src="/media/{{ member.member.icon }}" alt="{{ member.member.name }} image">
                    {% else %}
                        <img class="card-img-top" src="/media/default_user.png">
                    {% endif %}
                    <div class="card-body">
                    <h5 class="card-title" style="text-align:center">{{ member.member.username }}</h5>
                    {% if request.user.username in admin_names and member.member.username not in admin_names %}
                    <a href="/rsos/{{ rso.name }}/makeadmin/{{ member.member.username }}" class="btn btn-primary">Make admin</a>
                    {% endif %}
                </a>
                </div></div>
            </div>
        {% endfor %}
    {% else %}
    <h3> No members added </h3>
    {% endif %}
    <br>

    {% if majors_dist %}
    <div class="row justify-content-left" style="width:95%;text-align:center; margin:0 auto">
        <table class=table>
            <tr>
                <th>Major</th>
                <th>Count</th>
            </tr>
            {% for major, count in majors_dist %}
                <tr>
                    <td>{{major}}</td>
                    <td>{{count}}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
    {% endif %}
    <br>

</div>
<h3> Age Distribution </h3>
<embed style="width:45%" src="{% url 'rso_year_distribution' rso_name=rso.name%}" />
<embed style="width:45%" src="{% url 'major_distribution' rso_name=rso.name%}" />
</div>
{% endblock %}
