{% extends 'base.html' %}

{% block title %}Registered RSOs{% endblock %}

{% block content %}
    <div class="text-center">
        <h2> Registered RSOs </h2>
        <br>
    </div>
<div class="row justify-content-center align-items-center" style="width:95%;text-align:center; margin:0 auto">
    {% if all_rsos %}
        {% for rso in all_rsos %}
            <div class="row-sm-2 py-2" style="margin:5px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a href ="/rsos/{{rso.name}}/profile " >{{ rso.name }}</h5>
                    </div>
                    {% if rso.icon %}
                        <img class="card-img-bottom" src="/media/{{rso.icon}}"></a>
                    {% else %}
                    </a>
                    {% endif %}
                </div>
        </div>
    {% endfor %}
    {% else %}
    <h3> No rsos added </h3>
    {% endif %}
</div>
{% endblock %}
