{% extends 'base.html' %}

{% block title %}weRSOcool{% endblock %}

{% block content %}
<div class="text-left" style="padding-left:10%">
    <h3>Profile: {{ member.username }}</h3>
    {% if user.icon %}
        <img src="/media/{{member.icon}}"> <br>
    {% endif %}
    Name: {{ member.first_name }} {{ member.last_name }} <br>
    Email: {{ member.email }} <br>
    Academic Year: {{ member.academic_year }} <br>
    Major: {{ member.major }} <br>
    {% if user.resume %}
    <a href="/media/{{ member.resume }}">Resume</a> <br>
    {% endif %}
    {% if request.user.is_authenticated %}
        {% if member.username == user.username %}
        <br>
        <a class="btn btn-primary" href="{% url 'user-update' member.username %}" role="button">Update</a>
        <a class="btn btn-danger" href="{% url 'user-delete' member.username %}" role="button">Delete</a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
