{% extends 'base.html' %}

{% block title %}{{rso.name}} Events{% endblock %}

{% block content %}
    <div class="text-center">
        <h2>{{rso.name}} Events</h2>
        <br>
    </div>
<div class="text-left" style="padding-left:10%">
    {% if all_events %}
        {% for event in all_events %}
            <hr>
            <h3>{{event.name}}</h3>
            <h5>
            time: {{event.time_begin}} - {{event.time_end}} <br>
            place: {{event.place}} <br>
            <br>
            {% if user.is_authenticated %}
            {% if event.id in attending %}
                <a class="btn btn-danger" href="/rsos/{{rso.name}}/{{event.name}}/cancel_attendance" role="button">Cancel Attendance</a>
            {% else %}
                <a class="btn btn-primary" href="/rsos/{{rso.name}}/{{event.name}}/attend" role="button">Attend</a>
            {% endif %}
            {% endif %}
            </h5>
        {% endfor %}
    {% else %}
    <h3> No events added </h3>
    {% endif %}
    <embed style="width:45%" src="/rsos/{{rso.name}}/events/attendance_chart" /> 
</div>
{% endblock %}
