{% extends 'base.html' %}

{% block title %}{{rso.name}} Events{% endblock %}

{% block content %}
<div class="text-center">
        <h2>Upcoming RSO Events</h2>
        <br>
</div>
<div class="text-left" style="padding-left:10%">
    {% if all_events %}
        {% for event in all_events %}
            <hr>
            <h2>{{event.name}}</h2>
            <h5>Hosted by: <a href="{% url 'profile_for_rso' event.rso_name %}">{{event.rso_name}}</a><h5>
            <h5>
            {{event.time_begin}} - {{event.time_end}} <br>
            {{event.place}} <br>
            <br>
            {% if user.is_authenticated %}
            {% if event.id in attending %}
                <a class="btn btn-danger" href="/rsos/{{event.rso_name}}/{{event.name}}/cancel_attendance" role="button">Cancel Attendance</a>
            {% else %}
                <a class="btn btn-primary" href="/rsos/{{event.rso_name}}/{{event.name}}/attend" role="button">Attend</a>
            {% endif %}
            {% endif %}
            </h5>
        {% endfor %}
    {% else %}
    <h3> No events added </h3>
    {% endif %}
</div>
{% endblock %}
