<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="/media/thumbnail.png">
    <meta charset="utf-8">
    <title>{% block title %}weRSOcool{% endblock %}</title>
</head>
<body>
    {% load crispy_forms_tags %}
    {% with url_name=request.resolver_match.url_name %}
    {% include "tabs.html" %}
    {% endwith %}
    <br>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <hr>
</body>
</html>
