    <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="/media/logo.png"></a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'rso_list' %}active{% endif %}" href="{% url 'rso_list' %}">RSOs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'event_home' %}active{% endif %}" href="{% url 'event_home' %}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'users-index' %}active{% endif %}" href="{% url 'users-index' %}">Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'analytics_home' %}active{% endif %}" href="{% url 'analytics_home' %}">Analytics</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto justify-content-end">
                {% if user.is_authenticated %}
                <li>
                    <a class="nav-link" style="{% if url_name == 'user-profile' %}color:black{% else %}color:SteelBlue{% endif %}" href="/users/{{user.username}}/profile">{{user.username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'rso_registration' %}active{% endif %}" href="{% url 'rso_registration' %}">Register RSO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a class="nav-link {% if url_name == 'login' %}active{% endif %}" href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a class="nav-link {% if url_name == 'signup' %}active{% endif %}" href="{% url 'signup' %}">Sign Up</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
